.git
.github
.devcontainer
.vscode
docs
notebooks
tests
example_dataset
pretrained_models
prospect_data
run_scripts
nn_learning
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
*.ipynb
container.def
